[class^=col-] {
   border: 3px solid black;
   padding-top: 50px;
}

.my_navbar img{
    max-width: 100px;
}

.one_section {
    background-image: url(img/bg-banner-home.jpg);
    max-width: 100%;
}

section {
    padding-top: 100px;
    padding-bottom: 100px;
    border: 1px solid red;
}



 /* Utility class */

 .h-200 {
     height: 200px;
 }

 .h-500 {
     height: 500px;
 }