[class^=col-] {
   padding-top: 20px;
}

.my_navbar img{
    max-width: 100px;
}

.my_navbar {
    margin-bottom: 0;
}

.my_navbar ul li a {
    font-family:'Inter', Helvetica,san-serif;
}

.my_btn {
    color: #0039b2;
    border: 1px solid blue;
}

.ms_nav {
 line-height: 50px;
}

.ms_nav img {
  max-width: 150px;
  vertical-align: middle;
}

/* Prima sezione */

.hero {
    font-size: 50px;
    padding-right: 90px;
    font-family: 'Inter', sans-serif;
}

.one_section {
    background-image: url(img/bg-banner-home.jpg);
    max-width: 100%;
}

.hero2 {
    font-size: 24px;
    padding-right: 30px;
    font-family: 'Inter', sans-serif;
}

.descrizione {
    font-size: 12px;
    padding-top: 20px;
}

.my2_btn {
    position: relative;
}

.google {
    max-width: 100%;
    width: 20px;
    position: absolute;
    left: 5px;
}

/* Seconda sezione */
.section_2 img {
    max-width: 150px;
    padding: 0 20px 0 20px;
}

/* terza section */

.list_left {
    margin-left: 40px;
    border-top: 0;
}

.list_left li {
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-radius: 0;
    font-family: 'Inter', sans-serif;
}

.section_3 p {
    font-family: 'Inter', sans-serif;
}

   /* Quarta sezione  */
.section_4 p {
    font-family: 'Inter', sans-serif;
}

.box_carousel img {
   max-width: 100%;
}

.box_car i {
    line-height: 200px;
    text-align: center;
}


.pallini {
    color: #0039b2;
    font-size: 30px;
}


/* Quinta sezione */

.section_5 {
    font-family: 'Inter', sans-serif;
}

/* Settima sezione */

.my_panel {
    max-width: 100%;
    width: 600px;
    padding-top: 80px;
    padding-bottom: 60px;
}

/* Ottava sezione */
.my_btn {
    background-color: white;
}

/* Footer */

.fa {
    font-size: 30px;
    padding-right: 30px;
    padding-top: 20px;
}

footer ul li {
    padding-top: 10px;
}

.shark img {
    width: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.footer_panel {
    width: 300px;
    position: fixed;
    bottom: 0;
    right: 100px;
}

.notifica {
    background-color: red;
    display: inline-block;
    color: white;
    padding: 3px;
    border-radius: 50%;
    position: fixed;
    bottom: 40px;
    right: 30px;
    font-size: 12px;
}

.help_right {
    color: white;
    position: fixed;
    bottom: 45px;
    right: 61px;
    border: 1px solid transparent;
    ;
}





section {
    padding-top: 40px;
    padding-bottom: 40px;
}

footer {
    padding-top: 100px;
    padding-bottom: 100px;
    border: 3px solid green;
}

.bg_section6 {
    background-color: #0040bd;
}

.bg_section8 {
    background-color: #0039b2;
}

.bg_section2_4_7 {
    background-color: #f3f5f9;
}

.bg_footer {
    background-color: #031c4e;
}



 /* Utility class */


 .color_white {
     color: white;
 }

 .color_blue {
     color: #1a78ff;
 }

 .color_green {
     color: #00c6cf;
 }

 .padding_bottom20 {
     padding-bottom: 20px;
 }

 .border {
     border: 1px solid black;
 }

 .color_footer {
     color: #77839d;
 }