[class^=col-] {
   padding-top: 20px;
}

.my_navbar img{
    max-width: 100px;
}

.my_navbar {
    margin-bottom: 0;
}

.my_btn {
    color: #0039b2;
    border: 1px solid blue;
}

/* Prima sezione */

.hero {
    font-size: 50px;
    padding-right: 90px;
}

.one_section {
    background-image: url(img/bg-banner-home.jpg);
    max-width: 100%;
}

/* terza section */

.list_left {
    margin-left: 40px;
    border-top: 0;
}

.list_left li {
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-radius: 0;
}

   /* Quarta sezione  */
.box_carousel img {
    max-width: 100%;
    display: block;
    width: 800px;
}

.pallini {
    color: #0039b2;
    font-size: 30px;
}

/* Settima sezione */

.my_panel {
    max-width: 100%;
    width: 600px;
    padding-top: 80px;
    padding-bottom: 60px;
}

/* Ottava sezione */
.my_btn {
    background-color: white;
}





section {
    padding-top: 40px;
    padding-bottom: 40px;
}

footer {
    padding-top: 100px;
    padding-bottom: 100px;
    border: 3px solid green;
}

.my_footer .row{
    border: 1px solid black;
}

.bg_section6 {
    background-color: #0040bd;
}

.bg_section8 {
    background-color: #0039b2;
}

.bg_section2_4_7 {
    background-color: #f3f5f9;
}

.bg_footer {
    background-color: #031c4e;
}



 /* Utility class */


 .color_white {
     color: white;
 }

 .color_blue {
     color: #0039b2;
 }

 .color_green {
     color: #00c6cf;
 }

 .padding_bottom20 {
     padding-bottom: 20px;
 }

 .border {
     border: 1px solid black;
 }